* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

/* - Mobile: 375px
- Desktop: 1366px 
*/

:root {
    --scissors: hsl(39, 89%, 49%);
    --paper: hsl(230, 89%, 62%);
    --rock: hsl(349, 71%, 52%);
    --lizard: hsl(261, 73%, 60%);
    --cyan: hsl(189, 59%, 53%);
    --dark-text: rgb(43, 46, 54);
    --score-text: rgb(120, 189, 94);
    --header-outline: rgb(65, 74, 87);
}
body {
    height: 100vh;
    background: rgb(8, 20, 49);
    background: radial-gradient(circle,rgb(8, 20, 49) 0%, rgb(9, 15, 21) 100%);
}
.score-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.inside-container {
    display: flex;
    justify-content: space-between;
    width: 600px;
    padding: 15px;
    border: 3px solid var(--header-outline);
    border-radius: 15px;
    margin-top: 1.5rem;
}
.score {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    color: var(--dark-text);
    width: 150px;
    border-radius: 10px;
}
.score-number {
    font-size: 3.5rem;
    color: var(--score-text);
}
.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("./images/bg-pentagon.svg");
    background-position: center;
    background-repeat: no-repeat;
    height: 75%;
    background-size: 30rem;
    row-gap: 65px;
}
.spock-and-paper,
.lizard-and-rock {
    display: flex;
    column-gap: 130px;
}
.spock-and-paper {
    column-gap: 300px;
    position: relative;
    top: -40px;
}
.paper-container,
.scissors-container,
.rock-container,
.spock-container,
.lizard-container {
    border-radius: 50%;
}
.paper,
.scissors,
.rock,
.spock,
.lizard {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 27px;
    border: 15px solid;
    border-radius: 50%;
    width: 160px;
    height: 160px;
    transition: .3s;
}
.paper:hover,
.scissors:hover,
.rock:hover,
.spock:hover,
.lizard:hover {
    cursor: pointer;
    background-color: rgb(206, 206, 206);
    border-style: dashed;
}
.paper {
    border-color: var(--paper);
}
.scissors {
    border-color: var(--scissors);
}
.rock {
    border-color: var(--rock);
}
.spock {
    border-color: var(--cyan);
}
.lizard {
    border-color: var(--lizard);
}
.rules-button {
    color: white;
    background-color: transparent;
    border: 3px solid var(--header-outline);
    border-radius: 8px;
    padding: 10px 35px;
    position: absolute;
    right: 25px;
    bottom: 15px;
    transition: .3s;
}
.rules-button:hover {
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}